.adv1 {
    margin-top: 55px;
    height: 70px;
    font-family: arial;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #1d2d50;
    position: relative;
    margin-bottom: 10px;
}

.adv1>p {
    color: #eafaea;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes example {
    0% {
        width: 830px;
    }

    50% {
        width: 80vh;
    }

    100% {
        width: 830px;
    }
}

.gallery {
    --g: 6px;
    display: grid;
    aspect-ratio: 1;
    grid: auto-flow 1fr/repeat(3, 1fr);
    gap: var(--g);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    margin-bottom: 20px;

    width: 830px;
    height: 80vh;
    animation-name: example;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale();
    cursor: pointer;
    transition: .5s;
}

.gallery img:hover {
    filter: grayscale(0);
}

.gallery img:nth-child(2) {
    grid-area: 1/2/span 2/span 2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(50% + var(--g)/4) 100%, 0 calc(50% - var(--g)/4))
}

.gallery img:nth-child(3) {
    grid-area: 2/1/span 2/span 2;
    clip-path: polygon(0 0, calc(50% - var(--g)/4) 0, 100% calc(50% + var(--g)/4), 100% 100%, 0 100%);
}
